<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Razor Logo</span>
        <nav>
            <a href="/UserPage">Главная1</a> 
            <a href="/ContactsPage">Контакты</a>
        </nav>
    </header>
   
    <main>
        @RenderBody()
    </main>

    <footer>
        Данный сайт находится под защитой CORAL
        Все права защищены - 2025
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
