@page
@model Site.Pages.Contacts.ContactsModel
@{
    ViewData["Title"] = "Контакты";
}

<h1>@ViewData["Title"]</h1>


<h3>
    Наши контакты:
</h3>

<p>
    1) ... <br />
    2) ... <br />
    3) ... <br />
    4) ... <br />
</p>
